body {
  margin: 0;
}

.swiper-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  filter: blur(.5rem);
}

.swiper-bg img {
  width: 100%;
}

.swiper-wrapper img {
  width: 100%;
  font-size: 0;
  vertical-align: middle;
}
